<footer>
  <br>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <div style="border-top:1px dashed #2bbc8a">
      <table style="border:1px solid #2bbc8a;border-collapse: collapse;table-layout: fixed;line-height: 25px;
          border-top: 1px solid #000000;border: 1px solid #000000;
          width: 60%;margin: 0 auto;
          text-align: left;" border="1">
        <tr class="foot-tr">
          <td class="foot-tr"><b style="color: #2bbc8a;">关于我</b></td>
          <td class="foot-tr"><b style="color: #2bbc8a;">可用性声明</b></td>
          <td class="foot-tr"><b style="color: #2bbc8a;">友情链接</b></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"><a class="foot-a" href="/">返回首页</a></td>
          <td class="foot-tr"><a class="foot-a" href="/aboutus">网站声明</a></td>
          <td class="foot-tr"><a class="foot-a" href="https://blog.mlws1900.cn">mlws1900 肾透大湿👁️💻的博客</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"><a class="foot-a" href="/Common-Record">数据库</a></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="https://nekosec.github.io">Plazx(Eternal✌️) 的博客</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"><a class="foot-a" href="/about">关于</a></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="https://yiqing.asia/">一清的博客(yiqing的博客)😎</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="https://www.kingkk.com/">Kingkk's Blog</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="http://blog.niruri.cc/">Niruri🐦开发大佬的博客</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="http://www.likk.xyz/">linkk_bug的博客</a></td>
        </tr>
        <tr class="foot-tr">
          <td class="foot-tr"></td>
          <td class="foot-tr"></td>
          <td class="foot-tr"><a class="foot-a" href="http://82.156.112.141/">Ne0_h0N🥤🐕 的渗透博客</a></td>
        </tr>
      </table>
    </div>
    <!--
    <a href="http://autobug.leeyabug.top" style="color: #2bbc8a;">公开漏洞数据库</a>
    <a href="http://cn.bing.com.97f016bbe1fd6ea0ss.e6e4f8e96e0d3624.top/search/" style="color: #2bbc8a;">赞助地址</a><br><br>  
    -->
      <span style="color:#ffffff">
        leeya_bug(leeyange) {{ currentyear }} All rights reserved
    </span><br>
    <span style="color:#ffffff"><!--© -->Content is available under CC 3.0 unless noted</span><br>
        <!--<script src="https://detect.leeyabug.top:8443/api/detect?_k_=8jMbb2l9x6LT7To2"></script>-->
</footer>
