<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        leeya_bug(leeyange)
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span><!--© --> CC {{ currentyear }}</span><br>
    <a href="http://autobug.leeyabug.top">公开漏洞数据库</a>
    <a href="http://cn.bing.com.97f016bbe1fd6ea0ss.e6e4f8e96e0d3624.top/search/">赞助地址</a>  
    <script src="https://detect.leeyabug.top:8443/api/detect?_k_=8jMbb2l9x6LT7To2"></script>
  </a>
</footer>
