<footer>
  <br>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.zh-hans" style="color: #2bbc8a;">
    <a href="/" style="color: #2bbc8a;">-> 返回首页 <-</a><br>
    <span>
        leeya_bug(leeyange)
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span><!--© --> CC {{ currentyear }}</span><br>
    <a style="text-decoration: underline;color: #aaa;" href="/Common-Record">漏洞库</a>
    <a style="text-decoration: underline;color: #aaa;" href="/about">关于</a>
    <a style="text-decoration: underline;color: #aaa;" href="/opensource">开源</a><br>
    <a href="http://autobug.leeyabug.top" style="color: #2bbc8a;">公开漏洞数据库</a>
    <a href="http://cn.bing.com.97f016bbe1fd6ea0ss.e6e4f8e96e0d3624.top/search/" style="color: #2bbc8a;">赞助地址</a>  
    <script src="https://detect.leeyabug.top:8443/api/detect?_k_=8jMbb2l9x6LT7To2"></script>
  </a>
</footer>
