<header class="leeya_good">
  <div style="margin-top:30vh;">    
    <a style="text-decoration: none;" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
      <h1 id="showtag">
        点此返回首页
      </h1>
    </a>
<script>
            var words = [
              "点此返回首页",
              "Hello,World!"
            ];
      
            async function rollingWords(){
                  var TIME = 60;
                  while(1){
                    for(var j = 0;j < words.length; j ++){
                        showAdd = words[j];
                        for(var i = 0;i <= showAdd.length; i ++){
                            document.getElementById("showtag").innerHTML = showAdd.substr(0,i) + "_&nbsp;";
                            await sleep(TIME);
                        }
                        await sleep(2000);
                        for(var i = showAdd.length; i >= 0; i --){
                            document.getElementById("showtag").innerHTML = showAdd.substr(0,i) + "_&nbsp;";
                            await sleep(TIME);
                        }
                    }
                  }
            }
            
            function getRequest(){
                rollingWords();
            }
            
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            
            
            function check(){
                try{
                    getRequest();
                }catch(error){ }
            }
            
            check()
    </script>
    <a style="text-decoration: none;" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@home:~$</h1>
    <h1 style="font-size: 18px; color: #aaa; font-weight: 300;">正在学习Web、区块链安全及代码审计</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
