<header>
  <div style="margin-top:30vh;margin-bottom:10vh">
    <h1 id="showtag">Hello,World!</h1>
    <script>
            async function rollingWords(){
                var TIME = 60;
                var listMax = 0;
                        
                var showed = "&nbsp;";
                showAdd = "Hello,World!";
                for(var i = 0;i <= showAdd.length; i ++){
                    document.getElementById("showtag").innerHTML = showed;
                    showed = showed + showAdd[i];
                    await sleep(TIME);
                }
              document.getElementById("showtag").innerHTML += "&nbsp;";
                await sleep(500);
            }
            
            function getRequest(){
                rollingWords();
            }
            
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            
            
            function check(){
                try{
                    getRequest();
                }catch(error){ }
            }
            
            check()
    </script>
    <a style="text-decoration: none;" href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@home:~$</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
