<a style="text-decoration: none;color: #aaa;" href="/"><h2 class="header-link">正在从事Web、大模型安全及区块链工作</h2></a><br>
<a style="text-decoration: none;color: #aaa;" href="/Common-Record"><h2 class="header-link">信息库</h2></a>
<a style="text-decoration: none;color: #aaa;" href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">关于</h2></a>
<a style="text-decoration: none;color: #aaa;" href="{{ "/opensource" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">开源</h2></a>
