/*
   original: https://github.com/pages-themes/hacker 
*/

@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

.leeya_good {
   background: url('data:image/svg+xml;utf-8,<svg id="visual" viewBox="0 0 900 450" width="900" height="450" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 28L43 19L86 24L129 28L171 28L214 28L257 10L300 28L343 28L386 28L429 15L471 33L514 24L557 24L600 6L643 24L686 15L729 19L771 6L814 33L857 28L900 24L900 0L857 0L814 0L771 0L729 0L686 0L643 0L600 0L557 0L514 0L471 0L429 0L386 0L343 0L300 0L257 0L214 0L171 0L129 0L86 0L43 0L0 0Z" fill="%2300764d"></path><path d="M0 51L43 51L86 51L129 60L171 46L214 60L257 19L300 33L343 51L386 42L429 28L471 55L514 51L557 42L600 42L643 42L686 46L729 24L771 46L814 69L857 55L900 37L900 22L857 26L814 31L771 4L729 17L686 13L643 22L600 4L557 22L514 22L471 31L429 13L386 26L343 26L300 26L257 8L214 26L171 26L129 26L86 22L43 17L0 26Z" fill="%23006e4a"></path><path d="M0 69L43 73L86 78L129 78L171 51L214 64L257 28L300 60L343 69L386 46L429 33L471 73L514 69L557 55L600 64L643 69L686 60L729 28L771 51L814 91L857 73L900 60L900 35L857 53L814 67L771 44L729 22L686 44L643 40L600 40L557 40L514 49L471 53L429 26L386 40L343 49L300 31L257 17L214 58L171 44L129 58L86 49L43 49L0 49Z" fill="%23006647"></path><path d="M0 100L43 78L86 87L129 109L171 64L214 96L257 42L300 82L343 96L386 78L429 37L471 87L514 96L557 73L600 78L643 82L686 78L729 37L771 73L814 96L857 82L900 64L900 58L857 71L814 89L771 49L729 26L686 58L643 67L600 62L557 53L514 67L471 71L429 31L386 44L343 67L300 58L257 26L214 62L171 49L129 76L86 76L43 71L0 67Z" fill="%23005f44"></path><path d="M0 163L43 105L86 141L129 136L171 96L214 136L257 100L300 105L343 145L386 136L429 60L471 136L514 132L557 100L600 105L643 159L686 109L729 51L771 96L814 109L857 136L900 87L900 62L857 80L814 94L771 71L729 35L686 76L643 80L600 76L557 71L514 94L471 85L429 35L386 76L343 94L300 80L257 40L214 94L171 62L129 107L86 85L43 76L0 98Z" fill="%23005740"></path><path d="M0 204L43 118L86 177L129 190L171 123L214 154L257 145L300 163L343 168L386 186L429 91L471 163L514 177L557 136L600 159L643 172L686 154L729 64L771 105L814 136L857 163L900 127L900 85L857 134L814 107L771 94L729 49L686 107L643 157L600 103L557 98L514 130L471 134L429 58L386 134L343 143L300 103L257 98L214 134L171 94L129 134L86 139L43 103L0 161Z" fill="%2300503c"></path><path d="M0 249L43 168L86 204L129 204L171 150L214 177L257 172L300 195L343 177L386 217L429 123L471 195L514 204L557 168L600 172L643 186L686 168L729 114L771 114L814 150L857 190L900 141L900 125L857 161L814 134L771 103L729 62L686 152L643 170L600 157L557 134L514 175L471 161L429 89L386 184L343 166L300 161L257 143L214 152L171 121L129 188L86 175L43 116L0 202Z" fill="%23004838"></path><path d="M0 280L43 235L86 244L129 235L171 271L214 294L257 298L300 280L343 280L386 285L429 199L471 343L514 262L557 195L600 267L643 222L686 312L729 226L771 204L814 231L857 240L900 186L900 139L857 188L814 148L771 112L729 112L686 166L643 184L600 170L557 166L514 202L471 193L429 121L386 215L343 175L300 193L257 170L214 175L171 148L129 202L86 202L43 166L0 247Z" fill="%23004133"></path><path d="M0 294L43 267L86 267L129 240L171 276L214 298L257 330L300 298L343 312L386 321L429 240L471 357L514 289L557 208L600 294L643 231L686 348L729 253L771 240L814 262L857 244L900 190L900 184L857 238L814 229L771 202L729 224L686 310L643 220L600 265L557 193L514 260L471 341L429 197L386 283L343 278L300 278L257 296L214 292L171 269L129 233L86 242L43 233L0 278Z" fill="%23003a2f"></path><path d="M0 343L43 334L86 316L129 267L171 384L214 321L257 348L300 366L343 330L386 361L429 289L471 375L514 370L557 262L600 361L643 312L686 402L729 334L771 307L814 316L857 285L900 231L900 188L857 242L814 260L771 238L729 251L686 346L643 229L600 292L557 206L514 287L471 355L429 238L386 319L343 310L300 296L257 328L214 296L171 274L129 238L86 265L43 265L0 292Z" fill="%2301332a"></path><path d="M0 442L43 442L86 415L129 447L171 442L214 415L257 433L300 429L343 442L386 424L429 411L471 442L514 442L557 415L600 424L643 438L686 438L729 415L771 429L814 415L857 406L900 420L900 229L857 283L814 314L771 305L729 332L686 400L643 310L600 359L557 260L514 368L471 373L429 287L386 359L343 328L300 364L257 346L214 319L171 382L129 265L86 314L43 332L0 341Z" fill="%23022c25"></path><path d="M0 451L43 451L86 451L129 451L171 451L214 451L257 451L300 451L343 451L386 451L429 451L471 451L514 451L557 451L600 451L643 451L686 451L729 451L771 451L814 451L857 451L900 451L900 418L857 404L814 413L771 427L729 413L686 436L643 436L600 422L557 413L514 440L471 440L429 409L386 422L343 440L300 427L257 431L214 413L171 440L129 445L86 413L43 440L0 440Z" fill="%23032520"></path></svg>') no-repeat;
   background-size: cover;
}


body {
  margin: 0;
  padding: 0;
  background: #000000;//url("../assets/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  /*font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/
   font-family: "Gill Sans", sans-serif;
}

/* General & 'Reset' Stuff */

.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}


section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

li::marker{
   color: #2bbc8a;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px;
  margin: 0 0 40px 0;
}

.header-links {
  text-align: center;
}

.header-link {
  display: inline;
}

header h1 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(43, 188, 138, 0.1),
               0 0 10px rgba(43, 188, 138, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #aaa;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Gill Sans", sans-serif;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(43, 188, 138, 0.1),
               0 0 10px rgba(43, 188, 138, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 22px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-weight: bold;
}

ul li {
   list-style-type: '# '
  //list-style-image:url('../assets/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #2bbc8a;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #2bbc8a;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #2bbc8a;
  color: #2bbc8a;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
   font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
   text-decoration: none;
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* Make footer stick to bottom */

.pagination, footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#wrapper {
  min-height: calc(100vh - 100px);
}
